Source: fbset
Section: admin
Priority: important
Maintainer: Hartmut Koptein <koptein@debian.org>
Standards-Version: 3.0.1.1
Build-Depends: flex, bison, debhelper

Package: fbset
Architecture: any
Depends: ${shlibs:Depends}, makedev (>= 2.3.1-10)
Description: Framebuffer device maintenance program.
 Program to modify settings for the framebuffer devices (/dev/fb?)
 on Linux, like depth, virtual resolution, timing parameters etc.
 .
 This program is useful for all Linux/m68k kernel versions, and
 for late 2.1 kernels on most other architectures.

