#!/usr/bin/make -f
#                                              -*- makefile -*-
# debian/rules file for the Debian/GNU Linux fbset package
# Copyright 1998, 1999 by  Hartmut Koptein <koptein@debian.org>

export DH_COMPAT=2
#export DH_VERBOSE=1

package = fbset

build: build-stamp
build-stamp:
	dh_testdir
	dh_testversion 2
	$(MAKE) CFLAGS="-g"
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	-rm -f build-stamp
	-$(MAKE) clean
	dh_clean

binary-indep:	build

binary-arch:	build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs etc usr/sbin
	install -m 755 fbset debian/$(package)/usr/sbin
	install -m 755 modeline2fb debian/$(package)/usr/sbin
	install -m 755 con2fbmap debian/$(package)/usr/sbin
	install -m 644 etc/fb.modes.ATI debian/$(package)/etc/fb.modes
	dh_installexamples etc/fb.modes.* 
	dh_installdocs GetVideoMode.c FAQ kernel-doc
	dh_installchangelogs
	dh_installmanpages   
	dh_undocumented      modeline2fb.8 
	dh_strip -v
	dh_compress
	dh_fixperms
	dh_shlibdeps
	dh_gencontrol
	dh_installdeb
	dh_md5sums
	dh_builddeb

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary:	binary-indep binary-arch
.PHONY: binary binary-arch binary-indep clean
