#!/usr/bin/make -f
#                                          -*- makefile -*-
# debian/rules file for the Debian/GNU Linux fbset package
# Copyright 1998 by   Hartmut Koptein <koptein@debian.org>

#export DH_VERBOSE=1

package = fbset

build: build-stamp
build-stamp:
	dh_testdir
	make CFLAGS="-O2 -g -Wall"
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	make clean
	dh_clean

binary-indep:	build

binary-arch:	build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs usr/sbin
	dh_installdocs GetVideoMode.c
	dh_installchangelogs
	dh_installmanpages
	install -m 755 fbset debian/tmp/usr/sbin
	dh_installexamples etc/fb.modes.*
	dh_strip
	dh_compress
	dh_fixperms
	dh_shlibdeps
	dh_gencontrol
	dh_installdeb
	dh_md5sums
	dh_builddeb

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary:	binary-indep binary-arch
.PHONY: binary binary-arch binary-indep clean
